/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 85px;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.navbar.hidden {
  opacity: 0;
  visibility: hidden;
}

.navbar-brand,
.navbar-brand span {
  font-family: "Bakbak One", sans-serif;
  font-size: 2rem;
}
.navbar-brand span {
  color: rgb(206, 0, 0);
}

.nav-list {
  position: absolute;
  top: 85px;
  right: -100%;
  background: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 3rem;
  transition: right 0.7s ease-out;
}
.nav-list.active {
  right: 5px;
}

.nav-list a {
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid white;
}
.nav-list a:hover {
  background: white;
  color: black;
}

.navbar-toggle {
  background: none;
  color: white;
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem 1rem;
}
.navbar-toggle:hover {
  background: white;
  color: black;
}

/* CART BUTTON */
.cart-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
}

.cart-button {
  background: none;
  color: white;
  height: inherit;
  width: inherit;
  font-size: 1.7rem;
  border-radius: 50%;
}
.cart-button:hover {
  background: white;
  color: black;
}

.cart-button-amount {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: var(--light-blue);
  color: white;
  font-size: 0.8rem;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* HERO */
.hero {
  background: var(--light-grey);
  color: black;
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  align-items: center;
  justify-content: center;
  padding: 100px 3rem 3rem 3rem;
  padding-inline: 3rem;
}

.hero-brand {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-img-container {
  max-width: 320px;
}

.hero-img {
  max-width: 100%;
}

.hero-caption {
  text-align: center;
  margin-top: 1rem;
}

.hero-caption-header,
.hero-caption-header span {
  font-family: "Bakbak One", sans-serif;
  font-size: 2.5rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.hero-caption-header span {
  color: var(--dark-red);
}

.hero-caption-content {
  max-width: 520px;
  font-size: 1.1rem;
  margin: 1.7rem 0;
}

.hero-caption a {
  background: var(--dark-red);
  color: white;
  font-size: 1rem;
  margin-top: 5rem;
  padding: 0.7rem 2rem;
  text-decoration: none;
}
.hero-caption a:hover {
  background: white;
  color: var(--dark-red);
  outline: 2px solid var(--dark-red);
}

/* TESTIMONY */
.testimony {
  padding: 2rem;
  color: black;
  background-color: var(--light-grey);
}

.testimony h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.testimony-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.testimony-item {
  position: relative;
  color: black;
  background: #ffffff;
  padding: 20px;
  max-width: 27%;
  min-width: 27%;
  min-height: 400px;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.comment-area {
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  max-height: 93px;
  min-height: 93px;
}

.comment {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 100%;
  
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: relative;
  background: #fff;
  object-fit: cover;
}

.name-area {
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 1.3rem;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; 
  z-index: -1;
}

/* FAQ */
.faq {
  background: var(--dark-grey);
  color: white;
  padding: 2rem;
}
.faq h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faq-item {
  margin: auto;
  width: 100%;
  max-width: 720px;
}

.faq-item,
.faq-item button {
  background: black;
  color: white;
}

.faq-item.active .faq-question div {
  rotate: 180deg;
}
.faq-item.active .faq-answer {
 max-height: 500px;
  padding-block: 0 1.5rem;
  transition: max-height 1s ease;
}

.faq-question {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: rotate 0.5s;
  gap: 2rem;
  text-align: left;
}

.faq-question:focus {
  transform: scale(1);
  outline: none;
}

.faq-answer {
  max-height: 0;
  padding-inline: 1.5rem;
  overflow: hidden;
  transition: height 0.5s;
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  padding: 2rem 3rem;
  color: black;
  background-color: var(--light-grey);
}

.contact > * {
  flex: 1;
}

.contact h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.connect-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.connect-input {
  background: none;
  color: black;
  border: none;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  min-width: 100%;
}
.connect-input::placeholder {
  color: var(--dark-grey);
}
.connect-input:focus {
  outline: none;
}

textarea.connect-input {
  height: 75px;
}

.connect-submit {
  color: white;
  background-color: black;
  padding: 1rem;
  margin-top: 2rem;
}

.connect-submit:hover{
  color: black;
  background-color: white;
  outline: 2px solid var(--light-blue);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2;
}
.social-link:hover {
  text-decoration: underline;
}
.social-link .icon-container {
  font-size: 2rem;
}

/* LINK TOKOPEDIA */
.tokopedia-link {
  text-decoration: none;
}

.tokopedia-promo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 3rem 2rem;
  background-color: var(--light-grey);
  transition: transform 0.2s ease, border 0.2s ease;
}

.tokopedia-promo:hover {
  outline: 3px solid lime;
}

.tokopedia-promo:active {
  outline: 3px solid lime;
  transform: scale(0.97);
}

.tokopedia-promo img {
  max-height: 125px;
  object-fit: contain;
}

.tokopedia-promo p {
  font-size: 1.7rem;
  font-weight: normal;
  color: black;
  margin: 0;
  text-align: center;
}

.tokopedia-promo .tokopedia-text {
  color: #05c005;
  font-weight: bold;
  text-decoration: none;
}

/* FOOTER */
.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer h2 {
  font-size: 2.5rem;
}

.footer h2 span {
  font-family: "Bakbak One", sans-serif;
  color: var(--dark-red);
}

.footer ul {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.footer .header {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  /* NAVBAR */
  .nav-list {
    position: static;
    background-color: none;
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 0;
  }

  .nav-list a {
    border-bottom: none;
  }

  .navbar-toggle {
    display: none;
  }
  

  /* HERO */
  .hero {
    flex-direction: row;
    gap: 2rem;
  }

  .hero-caption {
    text-align: left;
    width: 75%;
  }

  .hero-img-container {
    max-width: fit-content;
  }

  /* TESTIMONY */
  .testimony-list {
    flex-direction: row;
    justify-content: center;
  }

  .testimony-item {
    position: relative;
    color: black;
    background: #ffffff;
    padding: 20px;
    max-width: 27%;
    min-width: 27%;
    min-height: 400px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  /* CONTACT */
  .contact {
    flex-direction: row;
  }

  /* FOOTER */
  .footer {
    flex-direction: row;
    gap: 10rem;
  }
}

@media screen and (max-width: 950px) {
  .testimony-item {
    min-height: 100px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1rem;
    max-width: 30%;
    min-width: 30%;
  }

  .comment-area {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .testimony-list {
    flex-direction: column;
    align-items: center;
  }

  .testimony-item {
    max-width: 70%;
    min-width: 70%;
    max-height: 700px;
    min-height: 200px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .comment-area {
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    max-height: 93px;
    min-height: 93px;
  }
}

@media screen and (max-width: 550px) {
  .testimony-item {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1rem;
    max-width: 95%;
    min-width: 95%;
  }

  .comment-area {
    margin-bottom: 1rem;
  }
}



