:root {
  --dark-grey: #353434;
  --light-grey: #999999;
  --light-blue: #3590c5;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--dark-grey);
  color: white;
  padding: 2rem;
}

button {
  background: white;
  color: black;
  border: none;
  outline: none;
  transition: transform 0.2s ease;
}
button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
button:focus {
  outline: 3px solid var(--light-blue);
}
button:active {
  transform: scale(0.85);
}

/* Utilities */
.hidden {
  display: none;
}

.blur {
  filter: blur(4px);
}

/* HERO */

.hero {
  font-family: "Bakbak One", sans-serif;
  text-align: center;
}

.hero-brand {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/* Tokopedia promo */
.tokopedia-link {
  text-decoration: none;
}

.tokopedia-promo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #f7f7f7;
  transition: transform 0.2s ease, border 0.2s ease;
}

.tokopedia-promo:hover {
  outline: 3px solid lime;
}

.tokopedia-promo:active {
  outline: 3px solid lime;
  transform: scale(0.97);
}

.tokopedia-promo img {
  max-width: 45%;
  max-height: 150px;
  object-fit: contain;
}

.tokopedia-promo h1 {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  margin: 0;
  text-align: center;
}

.tokopedia-promo .tokopedia-text {
  color: #05c005;
  font-weight: bold;
  text-decoration: none;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 99;
}

@media screen and (min-width: 720px) {
  .tokopedia-promo h1 {
    font-size: 2rem;
  }
}
